@font-face {
    font-family: 'sharetechmono regular';
    src: url('fonts/ShareTechMono-Regular.ttf');
}

body {
    background-color: #797979;
    font-family: 'sharetechmono regular';
    font-size: 16pt;
    color: #dddddd;
}

h {
    font-weight: bold;
    font-size: 24pt;
}

h2 {
    color: #6d6d6d;
    font-size: 12pt;
    margin-top: 4pt;
}

.main {
    background-color: #494949;
    margin-top: 30vh;
    padding: 10pt;
    width: 500pt;
}

.page {
    display: none;
}

.button {
    background-color: #5f9ea0;
    width: 180pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
    padding: 3pt;
    cursor: pointer;
}

.button.list_main_delete {
    background-color: #a05f5f;
}

.list_area {
    background-color: #525252;
    margin: 5pt;
    padding: 5pt;
    width: 400pt;
    min-height: 28pt;
}
