@font-face {
    font-family: 'sharetechmono regular';
    src: url('fonts/ShareTechMono-Regular.ttf');
}

body {
    background-color: #797979;
    font-family: 'sharetechmono regular';
    font-size: 1.5vw;
    color: #dddddd;
}

h {
    font-weight: bold;
    font-size: 3vw;
}

h2 {
    color: #6d6d6d;
    font-size: 1vw;
    margin-top: 1vh;
}

.main {
    background-color: #494949;
    margin-top: 30vh;
    padding: 2vw;
    width: 80vw;
}

.page {
    display: none;
}

.button {
    background-color: #5f9ea0;
    width: 35vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    cursor: pointer;
}

.button.list_main_delete {
    background-color: #a05f5f;
}
