:root {
    --base-font-size: max(1.5vw, 2.5vh)
}

@font-face {
    font-family: 'sharetechmono regular';
    src: url('fonts/ShareTechMono-Regular.ttf');
}

body {
    background-color: #797979;
    font-family: 'sharetechmono regular';
    font-size: var(--base-font-size);
    color: #dddddd;
}

h {
    font-weight: bold;
    font-size: calc(1.2 * var(--base-font-size));
}

h2 {
    color: #6d6d6d;
    font-size: calc(0.5 * var(--base-font-size));
    margin-top: calc(0.2 * var(--base-font-size));
}

.main {
    background-color: #494949;
    margin-top: 30vh;
    padding: calc(0.8 * var(--base-font-size));
    width: 80vw;
}

.page {
    display: none;
}

.button {
    background-color: #5f9ea0;
    width: calc(16 * var(--base-font-size));
    margin-top: calc(0.4 * var(--base-font-size));
    margin-bottom: calc(0.4 * var(--base-font-size));
    padding-top: calc(0.4 * var(--base-font-size));
    padding-bottom: calc(0.4 * var(--base-font-size));
    cursor: pointer;
}

.button.list_main_delete {
    background-color: #a05f5f;
}
